body {
  margin: 0;
  background: #282937;
  font-family: 'Helvetica', 'Helvetica Nueue', sans-serif;
  color: #fafafa;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  color: white;
  transition: color 0.3s;
  font-weight: bold;

  &:hover {
    color: darken(white, 10%);
  }

  &:not(:last-child) {
    margin-right: 0.75rem;
  }
}
